<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>
<body>
  



<h1>Hello </h1>

<p><% @data2.each do |ticket| %></p>
<p>id = <%= ticket['id'] %></p>
<p>Created at: <%= ticket['created_at'] %></p>
<p>Descript:  <%= ticket['description'] %></p>
<a href="/tickets/<%= ticket['id'] %>" class="card-link"><%= ticket['id'] %></a>


<p><% end %></p>








</body>
</html>